---
import EmployeeCard from "./EmployeeCard.astro";
import SmallBox from "./SmallBox.astro";
---

<section>
  <div>
    <SmallBox />
    <h2>We champion the bold to achieve the extraordinary</h2>
    <p>Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team.</p>
    <div>
      <EmployeeCard />
    </div>
  </div>
</section>
