---
import EmployeeCard from "./EmployeeCard.astro";

const { data, theme = "light" } = Astro.props;
---

<section data-theme={theme}>
  <div class="cardContainer">
    {data.map((employee) => <EmployeeCard {employee} />)}
  </div>
</section>

<style>
  @layer components {
    [data-theme="dark"] {
      /* --bg-section; black;
        --text-section: white; */
    }

    .cardContainer {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;
      grid-column: 2/4;
      padding: 2rem 0rem;
    }
    section {
      background-color: var(--primary_white);
      grid-column: 1/5;
    }
  }
</style>
