---
import SmallBox from "./SmallBox.astro";

const { liContentFirst = "liContentFirst", liContentSecond = "liContentSecond", headerContent = "headerContent", pContent = "pContent" } = Astro.props;
---

<section>
  <div>
    <img src="../src/assets/images/what_to_expect.jpg" alt="Gruppe image" />
  </div>
  <div>
    <SmallBox boxContentP="WE'LL WORK WITH YOU" />
    <h2>{headerContent}</h2>
    <p>{pContent}</p>
    <ul>
      <li>{liContentFirst}</li>
      <li>{liContentSecond}</li>
    </ul>
  </div>
</section>

<style>
  @layer components {
    :root {
      --checkmark-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><path fill="%234EAF4E" d="M176.49 95.51a12 12 0 0 1 0 17l-56 56a12 12 0 0 1-17 0l-24-24a12 12 0 1 1 17-17L112 143l47.51-47.52a12 12 0 0 1 16.98.03M236 128A108 108 0 1 1 128 20a108.12 108.12 0 0 1 108 108m-24 0a84 84 0 1 0-84 84a84.09 84.09 0 0 0 84-84"/></svg>');
    }
    section {
      display: grid;
      grid-template-columns: subgrid;
      gap: 5.12rem;
      margin-top: 3rem;

      & div:nth-child(1) {
        grid-column: 2;
      }
    }

    ul {
      display: grid;
      gap: 1.12rem;

      li {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 1rem;
        font-size: 1rem;
      }
      li:before {
        content: " ";
        width: 1.6rem;
        aspect-ratio: 1;
        background: var(--checkmark-icon) 50% 50% / contain no-repeat;
      }
    }

    .boxContent {
      background-color: var(--primary_yellow);
      width: fit-content;
      border-radius: 1.25rem;
      padding: 0rem 0.75rem;
    }

    img {
      background-image: url("../src/assets/images/what_to_expect.jpg");
    }
  }
</style>
