---

---

<div class="footer">
  <h4>AskExperts</h4>
  <hr />
  <p>©2022 Consultalk. All rights reserved | Terms of Service | Privacy Policy</p>
</div>

<style>
  @layer components {
    .footer {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      padding: 2.18rem 0rem;

      h4,
      p {
        color: var(--primary_white);
      }
      hr {
        width: 70%;
        height: 1rem;
        color: white;
      }
    }
  }
</style>
