---
import Buttons from "./Buttons.astro";
---

<section>
  <div class="frontPageHero_container">
    <div>
      <h1>Adam Buschemia Business Consultant</h1>
      <p>Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.</p>
      <Buttons theme="white" label="Book a Meeting" />
    </div>
    <div>
      <img src="../src/assets/images/sarah.jpg" alt="Sarah" />
    </div>
  </div>
</section>

<style>
  section {
    background-color: var(--primary_black);
    .frontPageHero_container {
      display: grid;
      grid-template-columns: subgrid;

      & :nth-child(2) {
        grid-column: content/full;
      }
    }
  }

  img {
    width: 100%;
  }
  h1,
  p {
    color: var(--primary_white);
  }
</style>
