---
import Buttons from "./Buttons.astro";
---

<section>
  <div class="frontPageHero_container">
    <div>
      <h1>Adam Buschemia Business Consultant</h1>
      <p>Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.</p>
      <Buttons theme="white" label="Book a Meeting" />
    </div>
    <div class="heroimg">
      <img src="../src/assets/images/sarah.jpg" alt="Sarah" />
    </div>
  </div>
</section>

<style>
  section {
    background-color: var(--primary_black);
    .frontPageHero_container {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: full;
      & div:nth-child(1) {
        grid-column: content-start;
      }
      & div:nth-child(2) {
        grid-column: 3/-1;
      }
    }
  }
  section {
    width: 120rem;
    height: 38.47663rem;
    overflow: hidden;
  }

  h1,
  p {
    color: var(--primary_white);
  }
</style>
