---
import { Image } from "astro:assets";
import Buttons from "./Buttons.astro";
import HeroCard from "./HeroCard.astro";
import Sarah from "../assets/images/sarah.jpg";
---

<section>
  <div class="frontPageHero_container">
    <div class="flow text">
      <h1>Adam Buschemia Business Consultant</h1>
      <p>Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.</p>
      <Buttons theme="white" label="Book a Meeting" />
    </div>
    <div class="heroimg">
      <Image src={Sarah} />
    </div>
    <div class="heroCards">
      <HeroCard />
    </div>
  </div>
</section>

<style>
  :root {
    --square-pattern: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red"><path d="M7.47662 4.02206C6.50635 3.05178 5.53232 2.07774 4.56205 1.10745C4.28482 0.83023 3.80905 0.83023 3.53183 1.10745C2.56155 2.07774 1.59128 3.04803 0.621002 4.02206C0.343781 4.29929 0.343781 4.77506 0.621002 5.05229C1.59128 6.02258 2.5653 6.99661 3.53558 7.9669C3.8128 8.24412 4.28857 8.24412 4.56579 7.9669C5.53607 6.99661 6.51009 6.02258 7.48037 5.05229C7.63022 4.90244 7.69016 4.73011 7.69016 4.56527C7.69016 4.55403 7.69016 4.54654 7.69016 4.5353C7.69016 4.52781 7.69016 4.51657 7.69016 4.50908C7.69016 4.34424 7.63022 4.17191 7.47662 4.02206ZM4.04881 6.41968C3.41944 5.79031 2.79382 5.16468 2.16445 4.5353C2.79382 3.90593 3.41944 3.2803 4.04881 2.65092C4.67818 3.2803 5.3038 3.90593 5.93317 4.5353C5.3038 5.16468 4.67818 5.79031 4.04881 6.41968Z"/></svg>');
  }
  @media only screen and (min-width: 601px) {
    .heroCards {
      margin-top: -6rem;
      z-index: 40;
    }

    .frontPageHero_container {
      & div:nth-child(1) {
        grid-column: content-start;
      }
    }
  }
  @media only screen and (max-width: 600px) {
    .heroCards {
      margin-top: 0rem;
      z-index: 40;
    }
    img {
      display: none;
    }
    .text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
    .frontPageHero_container {
      & div:nth-child(1) {
        grid-column: 2 / 4;
        grid-row: 1;
      }
    }
  }
  section {
    width: 120rem;
    background-color: var(--primary_black);

    overflow: hidden;
    z-index: 3;
    .frontPageHero_container {
      display: grid;
      grid-template-columns: subgrid;
      grid-template-rows: repeat(4, 1fr);
      grid-row: 1/2;

      grid-template-rows: 1fr auto auto;
      grid-column: full;
      & div:nth-child(1) {
        grid-column: content-start;
      }
      & div:nth-child(2) {
        grid-column: 3/-1;
        grid-row: 1;
      }
      & div:nth-child(3) {
        grid-column: 2/4;
        grid-row: 2;
      }
    }
  }

  img {
    object-fit: cover;
    z-index: 3;
    height: 30rem;
    position: relative;
  }

  h1,
  p {
    color: var(--primary_white);
  }

  .text {
    position: relative;

    &::before {
      --square-count: 4;
      --square-size: 1.34rem;

      --_square-size: var(--square-size, 1rem);
      --_square-half: calc(var(--square-size) / 2);
      --_square-sum: calc(var(--square-count) * var(--square-size));
      z-index: 2;
      content: "";
      position: absolute;
      inset: -7rem -0.1rem auto auto;
      /*inline-size: calc(var(--square-count) * 1.34rem - .67rem);*/
      inline-size: calc(round(var(--_square-sum), var(--_square-size)) - var(--_square-half));
      aspect-ratio: 1;
      background: linear-gradient(135deg, #be965d, #976f40, #c99b61, #f0be7b, #ffcb85, #eebc79, #c0935b, #976f40) 0 0 / 100% 100%;
      mask:
        var(--square-pattern) 0 0 / var(--_square-size) var(--_square-size),
        var(--square-pattern) var(--_square-half) var(--_square-half) / var(--_square-size) var(--_square-size);
      /*clip-path: polygon(-3% 0%, 100% 0%, 100% 103%);*/
    }

    &::after {
      --square-count: 12;
      --square-size: 1.34rem;

      --_square-size: var(--square-size, 1rem);
      --_square-half: calc(var(--square-size) / 2);
      --_square-sum: calc(var(--square-count) * var(--square-size));
      z-index: 2;
      content: "";
      position: absolute;
      inset: 0px 600px auto auto;
      /*inline-size: calc(var(--square-count) * 1.34rem - .67rem);*/
      inline-size: calc(round(var(--_square-sum), var(--_square-size)) - var(--_square-half));
      aspect-ratio: 1;
      background: linear-gradient(135deg, #be965d, #976f40, #c99b61, #f0be7b, #ffcb85, #eebc79, #c0935b, #976f40) 0 0 / 100% 100%;
      mask:
        var(--square-pattern) 0 0 / var(--_square-size) var(--_square-size),
        var(--square-pattern) var(--_square-half) var(--_square-half) / var(--_square-size) var(--_square-size);
    }
  }
</style>
