---
import Buttons from "./Buttons.astro";
---

<div class="navbar">
  <h1>AskExperts</h1>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Case Study</a></li>
    <li><a href="#">Team</a></li>
    <li><a href="#">About</a></li>
  </ul>
  <Buttons theme="yellow" label="login" popuoKnap="popup" />

  <div popover id="popup">Her skal formularen være...</div>
</div>

<style>
  @layer components {
    ::backdrop {
      background: #0004;
      backdrop-filter: blur(4px);
    }
    .navbar {
      padding: 2.38rem 0rem;
      grid-column: content;

      display: flex;
      justify-content: space-between;

      h1 {
        color: var(--primary_white);
      }

      ul {
        display: flex;

        list-style-type: none;
        gap: 1.875rem;
        padding-right: 15%;

        & li {
          list-style-type: none;

          & a {
            text-decoration: none;
            color: var(--primary_white);
          }
        }
      }
    }
  }
</style>
