---
import Buttons from "./Buttons.astro";
import InputKnap from "./InputKnap.astro";
---

<div class="navbar">
  <a href="/">
    <h1>AskExperts</h1>
  </a>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="#">Case Study</a></li>
    <li><a href="/team">Team</a></li>
    <li><a href="/about">About</a></li>
  </ul>
  <Buttons theme="yellow" label="login" popuoKnap="popup" />
  <div class="popupContainer">
    <div popover id="popup">
      <h2>Dashboard Login</h2>
      <div class="popupContent">
        <InputKnap inputText="Enter Email" />
        <InputKnap inputText="Enter Password" />
        <Buttons theme="yellow" label="Go to dashboard" />
      </div>
    </div>
  </div>
</div>

<style>
  @layer components {
    @media only screen and (width < 550px) {
      #popup {
        padding: 1rem;
        width: 66%;
      }
    }
    @media only screen and (width > 551px) {
      #popup {
        padding: 2.5rem 3.75rem 3.75rem 3.75rem;
      }
    }

    .popupContainer {
      z-index: -3;
      overflow: hidden;
    }
    #popup {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2.88rem;
      background-color: var(--primary_black);

      border-radius: 1.875rem;

      h2 {
        color: var(--primary_white);
        text-align: center;
      }

      .popupContent {
        display: flex;
        flex-direction: column;
        gap: 1.88rem;
      }
      &::backdrop {
        background-color: #0004;
        backdrop-filter: blur(4px);
      }
    }
    .navbar {
      padding: 2.38rem 0rem;
      grid-column: content;

      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      h1 {
        color: var(--primary_white);
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        gap: 1.875rem;
        padding-right: 15%;

        & li {
          list-style-type: none;

          & a {
            color: var(--primary_white);
          }
        }
      }
    }
    a {
      text-decoration: none;
    }
  }
</style>
