---
import Buttons from "./Buttons.astro";
import InputKnap from "./InputKnap.astro";
---

<section>
  <div class="newsletterContainer">
    <div class="newsletterContent">
      <h2>Subscribe Our Newsletter</h2>
      <p>Build stronger Customer Relationships with Consultalk</p>
    </div>
    <div class="newsletterContact">
      <InputKnap />
      <Buttons theme="subscribe" label="Subscribe" />
    </div>
  </div>
</section>

<style>
  @layer components {
    :root {
      --square-pattern: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red"><path d="M7.47662 4.02206C6.50635 3.05178 5.53232 2.07774 4.56205 1.10745C4.28482 0.83023 3.80905 0.83023 3.53183 1.10745C2.56155 2.07774 1.59128 3.04803 0.621002 4.02206C0.343781 4.29929 0.343781 4.77506 0.621002 5.05229C1.59128 6.02258 2.5653 6.99661 3.53558 7.9669C3.8128 8.24412 4.28857 8.24412 4.56579 7.9669C5.53607 6.99661 6.51009 6.02258 7.48037 5.05229C7.63022 4.90244 7.69016 4.73011 7.69016 4.56527C7.69016 4.55403 7.69016 4.54654 7.69016 4.5353C7.69016 4.52781 7.69016 4.51657 7.69016 4.50908C7.69016 4.34424 7.63022 4.17191 7.47662 4.02206ZM4.04881 6.41968C3.41944 5.79031 2.79382 5.16468 2.16445 4.5353C2.79382 3.90593 3.41944 3.2803 4.04881 2.65092C4.67818 3.2803 5.3038 3.90593 5.93317 4.5353C5.3038 5.16468 4.67818 5.79031 4.04881 6.41968Z"/></svg>');
    }

    @media only screen and (width > 701px) {
      .newsletterContainer {
        display: flex;
        flex-direction: row;
        padding: 5.44rem;
      }
    }
    @media only screen and (width < 700px) {
      .newsletterContainer {
        display: flex;
        flex-direction: column;
        padding: 1rem;
      }
    }
    section {
      padding: 2rem 0rem 6rem;
      background-color: var(--primary_white);
    }
    .newsletterContainer {
      overflow: hidden;

      justify-content: space-between;
      grid-column: 2/4;
      background-color: var(--primary_black);
      border-radius: 2rem;

      .newsletterContent {
        display: flex;
        flex-direction: column;

        h2,
        p {
          color: var(--primary_white);
        }
      }
    }
    .newsletterContact {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
    }

    .newsletterContainer {
      position: relative;

      &::before {
        --square-count: 13;
        --square-size: 1.34rem;

        --_square-size: var(--square-size, 1rem);
        --_square-half: calc(var(--square-size) / 2);
        --_square-sum: calc(var(--square-count) * var(--square-size));
        z-index: 1;
        content: "";
        position: absolute;
        inset: -162px -88px auto auto;
        /*inline-size: calc(var(--square-count) * 1.34rem - .67rem);*/
        inline-size: calc(round(var(--_square-sum), var(--_square-size)) - var(--_square-half));
        aspect-ratio: 1;
        background: linear-gradient(135deg, #be965d, #976f40, #c99b61, #f0be7b, #ffcb85, #eebc79, #c0935b, #976f40) 0 0 / 100% 100%;
        mask:
          var(--square-pattern) 0 0 / var(--_square-size) var(--_square-size),
          var(--square-pattern) var(--_square-half) var(--_square-half) / var(--_square-size) var(--_square-size);
        rotate: 30deg;
        /*clip-path: polygon(-3% 0%, 100% 0%, 100% 103%);*/
      }

      &::after {
        content: "";
        position: absolute;
        left: 68rem;
        bottom: -1rem;
        background: green;
        width: 9.375rem;
        height: 6.25rem;
        border-radius: 10.625rem;
        z-index: 1;
        rotate: 120deg;
      }
    }
  }
</style>
