---
import QnaSvar from "./QnaSvar.astro";
import SmallBox from "./SmallBox.astro";
---

<section>
  <div class="qnaContainer">
    <div class="qnaHeader">
      <SmallBox colorOfBox="green" boxContentP="FAQ" />
      <h2>Customer Questions</h2>
    </div>
    <div class="qnaTop">
      <QnaSvar />
    </div>
  </div>
</section>

<style>
  @layer components {
    section {
      background-color: var(--primary_white);
      .qnaContainer {
        margin-top: 2rem;
        background-color: var(--secondary_white);

        display: flex;
        flex-direction: column;
        .qnaHeader {
          align-items: center;
          text-align: center;
        }
        & div {
          display: flex;
          flex-direction: column;
        }
      }
      .qnaTop {
        padding: 2rem 0rem 0rem 0rem;
      }
    }
    @media only screen and (width < 800px) {
      .qnaContainer {
        padding: 1rem;
        grid-column: 2/5;
      }
    }

    @media only screen and (width > 801px) {
      .qnaContainer {
        padding: 9.4375rem 14.75rem;
        grid-column: 2/4;
      }
    }
  }
</style>
