---
import EmployeeCard from "./EmployeeCard.astro";

const { theme = "light" } = Astro.props;
---

<section data-theme={theme}></section>

<style>
  section {
  }
  @layer components {
    [data-theme="dark"] {
    }
  }
</style>
