---
const { boxContentP = "lol", colorOfBox = "yellow" } = Astro.props;
---

<div data-smallBox={colorOfBox} class="boxContent">
  <p>
    {boxContentP}
  </p>
</div>

<style>
  @layer components {
    .boxContent {
      background-color: var(--primary_yellow);
      width: fit-content;
      border-radius: 1.25rem;
      padding: 0rem 0.75rem;
      letter-spacing: 0.245rem;
      text-transform: uppercase;
      p {
        text-wrap: nowrap;
      }
    }

    [data-smallBox="white"] {
      background-color: var(--primary_white);
    }
    [data-smallBox="green"] {
      background-color: #4eaf4e;
      color: var(--primary_white);
    }
  }
</style>
