---
import { Icon } from "astro-icon/components";
const { cardName = "remeber me?", cardP = "you know me", cardIcon = "creative_ideas" } = Astro.props;
---

<div class="cardContainerCore">
  <Icon name={cardIcon} />
  <h3>{cardName}</h3>
  <p>{cardP}</p>
  <a href="#">Read More</a>
</div>

<style>
  [data-icon] {
    width: 3.29863rem;
    height: 3.29863rem;
  }
  @layer components {
    :root {
      --arrow-icon: url("./src/icons/smallArrow.svg");
    }
    .cardContainerCore {
      background-color: var(--primary_white);
      padding: 2.25rem 1.44rem;
      width: 17rem;
      height: fit-content;

      border-radius: 1.25rem;
    }

    a {
      text-decoration: none;
      color: var(--primary_black);
      display: flex;
      gap: 0.5rem;

      &:hover {
        --colorChange: 40% #fff;
      }
    }
    a:after {
      display: inline-block;
      content: "";
      width: 1rem;
      aspect-ratio: 1;
      background: var(--arrow-icon) 50% 50% / contain no-repeat;
    }
    h3 {
      font-size: 1.25rem;
    }
    p {
      font-size: 1rem;
    }
  }
</style>
